.posterPath{
  padding-bottom: 40%;
  padding-top: 30%;
  background-size: cover;
}
.movie-details{
  margin-top: 20%;
}
.movie-details h3{
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}
p{
  font-size: 23px;
}
.overview{
  text-align: left;
}
.ratings{
  text-align: left;
  color: rgb(116, 6, 6);
}